# dist
/internal/assets/dist

# binaries
/tinyauth
/tinyauth-arm64
/tinyauth-amd64

# test docker compose
/docker-compose.test*

# users file
/users.txt

# secret test file
/secret*

# apple stuff
.DS_Store

# env
/.env

# tmp directory
/tmp

# data directory
/data

# config file
/config.yml

# binary out
/tinyauth.db
/resources

# debug files
__debug_*

# infisical
/.infisical.json

# traefik data
/traefik

# generated markdown (for docs)
/config.gen.md

# testing config
config.certify.yml

# deepsec
/.deepsec
